.i-home {
    content: url(./i-home.svg)
}

.i-pen {
    content: url(./i-pen.svg)
}

.i-user {
    content: url(./i-user.svg)
}

.i-heart {
    content: url(./i-heart.svg)
}

.i-list-alt {
    content: url(./i-list-alt.svg)
}

.i-th {
    content: url(./i-th.svg)
}

.i-tags {
    content: url(./i-tags.svg)
}


.i-sun {
    content: url(./i-sun.svg)
}

.i-night {
    content: url(./i-night.svg)
}

.i-search {
    content: url(./i-search.svg)
}