.ic
{
    font-family: 'ic' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    width: 1.25em;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.i-home {
    content: url(./i-home.svg)
}

.i-pen {
    content: url(./i-pen.svg)
}

.i-user {
    content: url(./i-user.svg)
}

.i-heart {
    content: url(./i-heart.svg)
}

.i-list-alt {
    content: url(./i-list-alt.svg)
}

.i-th {
    content: url(./i-th.svg)
}

.i-tags {
    content: url(./i-tags.svg)
}


.i-sun {
    content: url(./i-sun.svg)
}

.i-night {
    content: url(./i-night.svg)
}

.i-search {
    content: url(./i-search.svg)
}

.i-arrow-up {
    content: url(./i-arrow-up.svg)
}

.i-arrow-down {
    content: url(./i-arrow-down.svg)
}

.i-list-ol {
    content: url(./i-list-ol.svg)
}

.i-comments {
    content: url(./i-comments.svg)
}