.i-home {
    content: url(../icon/i-home.svg)
}

.i-pen {
    content: url(../icon/i-pen.svg)
}

.i-user {
    content: url(../icon/i-user.svg)
}

.i-heart {
    content: url(../icon/i-heart.svg)
}

.i-list-alt {
    content: url(../icon/i-list-alt.svg)
}

.i-th {
    content: url(../icon/i-th.svg)
}

.i-tags {
    content: url(../icon/i-tags.svg)
}


.i-sun {
    content: url(../icon/i-sun.svg)
}

.i-night {
    content: url(../icon/i-night.svg)
}

.i-search {
    content: url(../icon/i-search.svg)
}