main
{
    display: block;
    background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;

    >.inner
    {
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
        width: calc(100% - 0.625rem);
        align-items: flex-start;
    }
}

@media (min-width: 1200px) 
{
    main >.inner {
        width: 72.5rem;
    }
}
@media (min-width: 1600px) 
{
    main >.inner {
        width: 72%;
    }
}
