main
{
    display: block;
    background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;

    >.inner
    {
        display: flex;
        position: relative;
        z-index: 1;
        margin: 0 auto;
        width: calc(100% - 0.625rem);
        align-items: flex-start;
        justify-content: space-between;
    }

//     .sidebar .tab li,
//   .overview .menu .item,
//   .index.wrap .card .message .btn,
//   img, [data-background-image] {
//     transition: all 0.2s ease-in-out 0s;
//     opacity: .75;

//     &:hover {
//       opacity: .9;
//     }
//   }

    @media (min-width: 1200px) 
    {
        main > .inner {
          width: 72.5rem;
        }
    }
}
