#sidebar 
{
    position: static;
    width: 15rem;
    top: 0;
    bottom: 0;
    transition: all 0.2s ease-in-out 0s;

    >.inner
    {
        display: flex;
        position: relative;
        width: 15rem;
        margin: 0 auto;
        color: var(--grey-6);
        text-align: center;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        z-index: 1;
    }

    .panels 
    {
        height: 675px;
        padding-top: 0.625rem;

        padding-top: 4.6875rem;
        width: 100%;
        overflow: hidden;
    }

    &.affix
    {
        >.inner
        {
            position: fixed;
            top: 0rem;
        }

        .panels
        {
            padding-top: 3.625rem;
            height: 100vh;
        }
        
        #quick {
            display: flex;
        }
    }
}