main
{
    display: block;
    background: linear-gradient(to top, var(--body-bg-shadow) 0, var(--grey-1) 20%) no-repeat bottom;

    >.inner
    {
        display: flex;
        margin: 0 auto;
        width: calc(100% - 0.625rem);
        align-items: flex-start;
        justify-content: space-between;
    }

    #main
    {
        background: linear-gradient(to top, var(--grey-0) 0, var(--grey-1) 20%) no-repeat top;
        box-shadow: 0rem 1.25rem 1rem 0.3125rem var(--body-bg-shadow);
        width: calc(100% - 15.75rem);
        min-height: 37.5rem;

        .wrap
        {
            position: relative;
            padding: 1.25rem;
            animation: slideUpBigIn 0.5s;

            &:nth-child(1) {
                margin-bottom: 1.25rem;
            }
        }
    }

    
    @media (min-width: 1200px) {
        main > .inner {
          width: 72.5rem;
        }
    }
}

#footer
{
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    -webkit-overflow-scrolling: touch;
    width: auto;
    height: 100%;

    .inner
    {
        margin: 0 auto;
        width: calc(100% - 0.625rem);
        position: relative;
        padding-right: 16.25rem;

        .status
        {
            width: 100%;
            text-align: center;
            margin-top: 2rem;

            .power-by
            {
                display: inline-block;
                margin-bottom: 0.625rem;
            }
        }
    }

    @media (min-width: 1200px) 
    {
        #footer .inner {
          width: 72.5rem;
        }
    }
}